* {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #0a0a0a;
}

a {
    text-decoration: none;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    min-height: 64px;
    background-color: #006faa;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.navbar > .container-fluid {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    width: auto;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navbar-brand-img {
    width: 42px;
    height: 42px;
}

.navbar-brand-title {
    margin: 0;
    margin-left: 1rem;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: none;
}

.navbar-toggler img {
    width: 36px;
    height: 36px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.collapse:not(.show) {
    display: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 110%;
    color: #ffffff;
    border-radius: 8px;
    transition: .15s ease-in-out;
}

.nav-link:hover {
    color: #d3d3d3;
    background-color: #092a49;
}

.banner {
    position: relative;
    height: 573px;
}

.banner-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.service {
    padding: 1rem;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-img {
    width: 50px;
    height: 50px;
}

.service-name {
    margin-bottom: 0;
    text-align: center;
}

.col-form-label {
    padding-top: .375rem;
    padding-bottom: .375rem;
    line-height: 1.5;
}

form {
    padding: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: .375rem;
}

.form-check {
    line-height: 1.5;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #006faa;
    color: #ffffff;
    border: 1px solid #006faa;
    border-radius: 8px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-0 {
    padding: 0;
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-darkblue {
    background-color: #092a49;
}

.text-white {
    color: #ffffff;
}

.row {
    width: 100%;
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
    flex-wrap: wrap;
}

.row>* {
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

[class*="col-"] {
    width: 100%;
}

.col-1 {width: 8.33%; flex: 0 0 auto;}
.col-2 {width: 16.66%; flex: 0 0 auto;}
.col-3 {width: 25%; flex: 0 0 auto;}
.col-4 {width: 33.33%; flex: 0 0 auto;}
.col-5 {width: 41.66%; flex: 0 0 auto;}
.col-6 {width: 50%; flex: 0 0 auto;}
.col-7 {width: 58.33%; flex: 0 0 auto;}
.col-8 {width: 66.66%; flex: 0 0 auto;}
.col-9 {width: 75%; flex: 0 0 auto;}
.col-10 {width: 83.33%; flex: 0 0 auto;}
.col-11 {width: 91.66%; flex: 0 0 auto;}
.col-12 {width: 100%; flex: 0 0 auto;}

@media only screen and (min-width: 576px) {
    .col-md-1 {width: 8.33%; flex: 0 0 auto;}
    .col-md-2 {width: 16.66%; flex: 0 0 auto;}
    .col-md-3 {width: 25%; flex: 0 0 auto;}
    .col-md-4 {width: 33.33%; flex: 0 0 auto;}
    .col-md-5 {width: 41.66%; flex: 0 0 auto;}
    .col-md-6 {width: 50%; flex: 0 0 auto;}
    .col-md-7 {width: 58.33%; flex: 0 0 auto;}
    .col-md-8 {width: 66.66%; flex: 0 0 auto;}
    .col-md-9 {width: 75%; flex: 0 0 auto;}
    .col-md-10 {width: 83.33%; flex: 0 0 auto;}
    .col-md-11 {width: 91.66%; flex: 0 0 auto;}
    .col-md-12 {width: 100%; flex: 0 0 auto;}
}

@media only screen and (min-width: 992px) {
    .navbar-brand-title {
        display: block;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-collapse {
        flex-basis: auto;
        flex-grow: initial;
    }

    .nav-link {
        margin-left: .25rem;
        margin-right: .25rem;
    }

    .col-lg-1 {width: 8.33%; flex: 0 0 auto;}
    .col-lg-2 {width: 16.66%; flex: 0 0 auto;}
    .col-lg-3 {width: 25%; flex: 0 0 auto;}
    .col-lg-4 {width: 33.33%; flex: 0 0 auto;}
    .col-lg-5 {width: 41.66%; flex: 0 0 auto;}
    .col-lg-6 {width: 50%; flex: 0 0 auto;}
    .col-lg-7 {width: 58.33%; flex: 0 0 auto;}
    .col-lg-8 {width: 66.66%; flex: 0 0 auto;}
    .col-lg-9 {width: 75%; flex: 0 0 auto;}
    .col-lg-10 {width: 83.33%; flex: 0 0 auto;}
    .col-lg-11 {width: 91.66%; flex: 0 0 auto;}
    .col-lg-12 {width: 100%; flex: 0 0 auto;}
}